@import 'utils/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;

    scrollbar-width: auto;
    scrollbar-color: $complementary-color $darker-blue;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background: $complementary-color;
}

a{
    color: $complementary-color;
    font-family: $text-font;
    font-weight: 500;

    &:visited{
        color: $link-visited-color;
    }

    &:hover{
        color: $link-hover-color;
    }

    &:active{
        color: $link-active-color;
    }
}

.title{
    font-family: $title-font;
}

.text{
    font-family: $text-font;
    font-weight: 300;
}

.title, .text{
    line-height: $line-height;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}


.presentation{
    width: 100%;
    height: 100vh;
    display: flex;

    position: relative;

    // border-right: 25px solid $complementary-color;
    // &__canvas{
    //     position: absolute;
    //     z-index: -1;
    // }

    &__canvas{
        position: absolute;
        background-color: $darker-blue;
        z-index: -1;
    }

    &__content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%; left: 50%;
        text-align: center;
    }

    &__title{
        color: $light-grey;
        font-size: $h1-size;
        font-weight: 700;
        margin-bottom: $space-h3;

        // text-shadow: 0 0 18px #0E4AB7;

        line-height: 110%; // For mobile title

        & span{
            font-size: $h1-ultra-size;
        }
    }

    &__welcome{
        font-size: $h3-size;
        color: $light-grey;
        margin-bottom: $space-p;
    }

    &__text{
        color: $light-grey;
        font-size: $p-size;
        width: 100%;
    }

    &__scroll{
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 4%; left: 50%;

        background: none;
        width: 44px;
        height: 44px;
        border: none;
        cursor: pointer;
    }

    &__arrow{
        // filter: drop-shadow(0 0 18px #0E4AB7);

        transition: .3s;

        &:hover{
            transform: scale(0.75);
        }

        path{
            fill: $light-grey;
        }
    }
}

.softskills{
    // width: 100%;
    // height: 100vh;

    background-color: $darker-blue;
    border-top: 1px solid $complementary-color;

    // &__container{
    //     display: grid;
    //     grid-template-columns: repeat(7, 1fr);
    //     grid-template-rows: repeat(3, 1fr);
    //     column-gap: $space-p-mini; 
    // }

    // .grid-col-3{
    //     grid-row: 2;
    //     grid-column: 2/6;
    // }

    &__container{
        padding-bottom: $space-h1;
    }
    
    &__title{
        margin: $space-h1 0 $space-h3;
        font-size: $h1-size;
        color: $light-grey; 

        // grid-row: 1;
        // grid-column: 2/5;
    }

    &__text{
        color: $light-grey;
        font-size: $p-size;
        width: 100%;
        margin-bottom: $space-p;
        
        &:nth-last-child(-n +1){
            margin-bottom: calc($space-p/2);
        }
    }

    &__list{
        color: $light-grey;
        list-style: square;
        // grid-row: 3;
        // grid-column: 2/5;
    }

    &__el{
        font-size: $h3-size;

        &::marker{
            color: $complementary-color;
        }
    }

    &__dots{
        display: none;
    }
}

.skills{
    background-color: $darker-blue;
    border-top: 1px solid $complementary-color;

    &__container{
        padding-bottom: $space-h1;
    }
    
    &__title{
        margin: $space-h1 0 $space-h3;
        font-size: $h1-size;
        color: $light-grey; 
    }

    &__text{
        color: $light-grey;
        font-size: $p-size;
        width: 100%;
        margin-bottom: $space-p;
        
    }

    &__list{
        color: $light-grey;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        gap: $space-p;
    }

    &__el{
        padding: calc($space-p);
        border: 1px solid $complementary-color;
        background-color: $darker-blue;
        // clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%); // Link the two sides
    }

    &__secondary-title{
        font-size: $h3-size;

        &--first{
            text-transform: uppercase;
        }
    }

    &__box{
        div{
            display: flex;
            align-items: center;
            gap: calc($space-p/2);

            margin: 0 0 $space-p;
        }
    }

    &__dots{
        display: none;
    }
}

.technologies{
    display: flex;
    gap: 10px;
    margin: calc($space-h3) 0;
    // justify-content: end;

    list-style: none;
    
    &__el{
        
        background-color: $complementary-color;
        padding: 5px 10px;
        font-weight: 400;

        text-transform: uppercase;
    }
}

.projects{
    // width: 100%;
    // height: 100vh;

    // background-color: $dark-blue;
    background: url(../assets/images/circuit-imprime-bg.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-top: 1px solid $complementary-color;

    // overflow-x: hidden;

    &::-webkit-scrollbar{
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &__slider{
        list-style: none;

        // display: flex;
        // flex-wrap: nowrap;

        // width: 100vw;
        // overflow-x: hidden;      
    }

    &__el{
        // height: 100vh;
        // width: 100%;

        border-right: 2px solid $complementary-color;
        border-bottom: 2px solid $complementary-color;
    }

    &__svg{
        display: none;
    }

    &__projet{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__wrapper{
        width: 90%;
        margin: 0 auto;
    }

    
    &__description{
        margin: $space-h2 0 0;
    }

    &__title{
        margin: $space-h1 0 $space-h3;
        font-size: $h1-size;
        color: $light-grey; 
    }

    &__secondary-title{
        margin: 0 0 $space-h3;
        font-size: $h1-size;
        color: $light-grey;

        &--big{
            font-size: $h1-size;
        }

        &--great{
            font-size: $h1-size;
        }
    }

    &__text{
        color: $light-grey;
        font-size: $p-size;
        margin-bottom: $space-p;
    }

    &__link{
        --cta-outline: -13px;
        --cta-outline-hover: -1px;

        cursor: pointer;
        text-decoration: none;

        padding: 13px 18px;
        display: inline-flex;
        justify-content: center;
        gap: 13px;
        align-items: center;

        color: $light-grey;
        border: 1px solid $complementary-color;
        background-color: $darker-blue;

        font-size: $p-size;
        font-weight: 400;

        position: relative;
        z-index: 10;

        & svg{
            fill: $light-grey;
        }

        &:focus{
            outline: 0;
        }

        &:visited{
            color: $light-grey;
        }

        &:hover{
            color: $light-grey;
        }

        &:hover:after{
            opacity: 1;
            outline: 0;
            top: var(--cta-outline-hover);
            right: var(--cta-outline-hover);
            bottom: var(--cta-outline-hover);
            left: var(--cta-outline-hover);
        }

        &:after{
            border: 2px solid $light-grey;
            content: "";
            filter: drop-shadow(0 0 3px $blue);
            opacity: 0;
            position: absolute;
            transition: .2s ease;
            top: var(--cta-outline);
            right: var(--cta-outline);
            bottom: var(--cta-outline);
            left: var(--cta-outline);
        }

        &:active{
            transform: scale(1.1);
        } 
    }

    &__img{
        max-width: 100%;
        min-width: 100%;
        border: 2px solid $complementary-color;
        display: none;
    }
}

.contact{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(1,1,3,1) 10%, rgba(3,6,12,1) 30%, rgba(6,13,25,1) 100%);
    // background-color: $darker-blue;
    border-top: 1px solid $complementary-color;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;

    &__canvas{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__title{
        font-size: $h1-size;
        margin-bottom: $space-p;
        color: $light-grey;

        position: relative;
        text-align: center;
        z-index: 10;

        line-height: 110%;
    }

    &__link{
        --cta-outline: -13px;
        --cta-outline-hover: -1px;

        cursor: pointer;
        text-decoration: none;

        padding: 13px 18px;
        display: inline-flex;
        justify-content: center;
        gap: 13px;
        align-items: center;

        color: $light-grey;
        border: 1px solid $complementary-color;
        background-color: $darker-blue;

        font-size: $h3-size;
        font-weight: 400;

        position: relative;
        z-index: 10;

        &:focus{
            outline: 0;
        }

        &:hover{
            color: $light-grey;
        }

        &:hover:after{
            opacity: 1;
            outline: 0;
            top: var(--cta-outline-hover);
            right: var(--cta-outline-hover);
            bottom: var(--cta-outline-hover);
            left: var(--cta-outline-hover);
        }

        &:after{
            border: 2px solid $light-grey;
            content: "";
            filter: drop-shadow(0 0 3px $blue);
            opacity: 0;
            position: absolute;
            transition: .2s ease;
            top: var(--cta-outline);
            right: var(--cta-outline);
            bottom: var(--cta-outline);
            left: var(--cta-outline);
        }

        &:active{
            transform: scale(1.1);
        }

        & svg{
            fill: $light-grey;
        }
    }
}

.network{

    &__list{
        position: fixed;
        z-index: 20;
        bottom: 10px; left: 10px;
        list-style: none;
        display: none;
    }

    &__el{
        padding: 5px 0;

        &:last-child{
            padding-bottom: 0;
        }

        & a{
            padding: 5px;
            fill: $link-color;

            &:visited{
                fill: $link-visited-color;
            }

            &:hover{
                fill: $link-hover-color;
            }

            &:active{
                fill: $link-active-color;
            }
        }
    }
}

.top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(250, 172, 50, 0.5);
    width: 44px;
    height: 44px;

    z-index: 20;

    &--show{
        display: block;
    }

    &--hide{
        display: none;
    }

    &:hover{
        background-color: $complementary-color;
    }

    & svg{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        fill: #060D19;
    }
}

.footer{
    background-color: $darker-blue;
    // border-top: 1px solid $complementary-color;
    padding: 10px 0;

    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: calc($space-p/2);
        align-items: center;
        padding: 10px 0;
    }
    
    &__list{
        display: flex;
        list-style: none;
        padding: 0;
    }
    
    &__el a{
        font-size: $p-size;
        padding: 10px;
    }
    
    &__copyright{
        font-size: $p-size;
        color: $light-grey;
        font-family: $text-font;
    }
    
    .dwt{
        -webkit-text-size-adjust: 100%;
        font-family: source-code-pro, monospace;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5238095238;
        -webkit-font-smoothing: antialiased;
        font-size: 80%;
        color: #707070;
        width: 50px;
        margin-left: 10px;
        position: relative;
        top: 5px;
        transition: none;
    
        &__txt{
            fill: $light-grey;
        }
        
        &__und{
            fill: $complementary-color;
        }
    }
    
}

.credits{
    background-color: $darker-blue;
    color: $complementary-color;

    &__wrapper{
        max-width: 85%;
        margin: 0 auto;
    }

    &__content{
        padding-bottom: $space-h3;
    }

    &__btn{
        margin-top: $space-h3;
        --cta-outline: -13px;
        --cta-outline-hover: -1px;

        cursor: pointer;
        text-decoration: none;

        padding: 13px 18px;
        display: inline-flex;
        justify-content: center;
        gap: 13px;
        align-items: center;

        color: $light-grey;
        border: 1px solid $complementary-color;
        background-color: $darker-blue;

        font-size: $p-size;
        font-weight: 400;

        position: relative;
        z-index: 10;

        & svg{
            fill: $light-grey;
        }

        &:focus{
            outline: 0;
        }

        &:visited{
            color: $light-grey;
        }

        &:hover{
            color: $light-grey;
        }

        &:hover:after{
            opacity: 1;
            outline: 0;
            top: var(--cta-outline-hover);
            right: var(--cta-outline-hover);
            bottom: var(--cta-outline-hover);
            left: var(--cta-outline-hover);
        }

        &:after{
            border: 2px solid $light-grey;
            content: "";
            filter: drop-shadow(0 0 3px $blue);
            opacity: 0;
            position: absolute;
            transition: .2s ease;
            top: var(--cta-outline);
            right: var(--cta-outline);
            bottom: var(--cta-outline);
            left: var(--cta-outline);
        }

        &:active{
            transform: scale(1.1);
        } 
    }

    &__title--h1{
        margin: $space-h3 0;
        font-size: $h1-ultra-size;
    }

    &__title--h2{
        margin-bottom: $space-h3;
        font-size: $h2-size;
        color: $light-grey;
    }

    &__title--h3{
        margin-bottom: calc($space-p/2);
        font-size: $h3-size;
    }

    &__list{
        margin-bottom: $space-h3;
        padding: 0;
        list-style: square;
    }

    &__el{
        margin-bottom: calc($space-p/2);
        font-size: $p-size;
        color: $light-grey;

        &::marker{
            color: $complementary-color;
        }
    }
}


// @import 'components/mediaqueries';

@media only screen and (min-width: 420px){
    .presentation{
        &__title{
            color: $light-grey;
            font-size: $h1-ultra-size;
            font-weight: 700;
            margin-bottom: $space-h3;
    
            // text-shadow: 0 0 18px #0E4AB7;
    
            line-height: 110%; // For mobile title
    
            & span{
                font-size: $h1-giga-size;
            }
        }

        &__welcome{
            font-size: $h2-size;
        }
    }
}

@media only screen and (min-width: $breakpoint-mobile){
    .wrapper{
        width: 80%;
        margin: 0 auto;
    }

    .presentation{
    
        &__title{
            font-size: $h1-giga-size;
            // line-height: $line-height;
        }
    }
    
    .softskills{
        
        &__title{
            margin: $space-h1 0 $space-h3;
            font-size: $h1-size;
            color: $light-grey; 
    
            // grid-row: 1;
            // grid-column: 2/5;
        }
    
        &__text{
            color: $light-grey;
            font-size: $p-size;
            width: 100%;
            margin-bottom: $space-p;

            &:nth-last-child(-n +1){
                margin-bottom: calc($space-p/2);
            }
            
        }
    
        &__list{
            color: $light-grey;
            // grid-row: 3;
            // grid-column: 2/5;
        }
    }

    .skills{
        
        &__title{
            margin: $space-h1 0 $space-h3;
            font-size: $h1-size;
            color: $light-grey; 
    
            // grid-row: 1;
            // grid-column: 2/5;
        }
    
        &__text{
            color: $light-grey;
            font-size: $p-size;
            width: 100%;
            margin-bottom: $space-p;
            
        }
    
        &__list{
            color: $light-grey;
            // grid-row: 3;
            // grid-column: 2/5;
        }
    }

    .contact{
    
        &__title{
            font-size: $h1-ultra-size;
        }
    }
    
    .footer{
    
        &__content{
            flex-direction: row;
            gap: $space-h1;
        }
        
        &__el a{
            padding: 0 5px;
        }
        
    }
}

@media only screen and (min-width: 725px){
    .contact{
        &__title{
            line-height: $line-height;
        }
    }
}

@media only screen and (min-width: $breakpoint-tablet){
    .wrapper{
        width: 55%;
        margin: 0 auto;
    }

    .presentation{
        &__content{
            width: 900px;
        }
    }

    .network{

        &__list{
            position: fixed;
            z-index: 20;
            bottom: 10px; left: 10px;
            list-style: none;
            display: block;
        }
    }

    .credits{
        &__wrapper{
            max-width: 75%;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop){
    .wrapper{
        width: 100%;
        margin: auto;
    }

    .presentation{
        &__text{
            max-width: 65%;
            margin: 0 auto;
        }
    }

    .softskills{
    
        background-color: $darker-blue;
        border-top: 1px solid $complementary-color;

        position: relative;

        &__line{
            width: 84px;
            height: 100%;
            background: url(../assets/images/test1.svg);

            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%; //Add preserveAspectRatio="none" in svg and bg-size: 100% 100%;

            position: absolute;
            top: 0; left: 5%;
        }

        &__dots{
            display: block;

            width: 276.75px;
            height: 108px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;

            position: absolute;
            bottom: 15%; right: 10%;
        }
    
        &__container{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: $space-p-mini;

            padding-bottom: 0;
        }
    
        &__grid-col-3{
            grid-row: 2;
            grid-column: 2/5;
        }
        
        &__title{
            grid-row: 1;
            grid-column: 2/5;
            font-size: $h1-ultra-size;
        }
    
        &__list{
            grid-row: 3;
            grid-column: 2/5;
        }

        
    }

    .skills{
    
        background-color: $darker-blue;
        border-top: 1px solid $complementary-color;

        position: relative;

        &__line{
            width: 90px;
            height: 100%;
            background: url(../assets/images/test2.svg);

            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;

            position: absolute;
            top: 0; left: 12%;
        }

        &__dots{
            display: block;

            width: 276.75px;
            height: 108px;
            // background: url(../assets/images/dots.svg);

            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;

            position: absolute;
            bottom: 15%; left: 5%;
        }
    
        &__container{
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: $space-p-mini;

            padding-bottom: $space-h2;
        }
    
        &__grid-col-3{
            grid-row: 2;
            grid-column: 3/7;
        }
        
        &__title{
            grid-row: 1;
            grid-column: 3/6;
        }
    
        &__list{
            flex-wrap: nowrap;
            grid-row: 3;
            grid-column: 3/9;
        }

        &__el{
            flex: 1;
        }
    }

    .projects{
        width: 100%;
        height: 100vh;
    
        overflow-x: hidden;
        position: relative;
        // overflow-x: none;

        #svg{
            position: absolute;
            top: $space-h2; left: 0; right: 0;
            z-index: 0;
        }

        #svg2{
            position: absolute;
            top: $space-ultra-h1; left: 0; right: 0;
            z-index: 0;
        }
    
        .path{
            stroke-dasharray: 10000;
            stroke-dashoffset: 10000;
            animation: dash 15s linear forwards;
    
            fill: rgba(0,0,0,0);
            stroke: #faac32;
            stroke-miterlimit: 100;
            stroke-width: 2px;
        }

        .path2{
            stroke-dasharray: 10000;
            stroke-dashoffset: 10000;
            animation: dash 15s linear forwards;
    
            fill: rgba(0,0,0,0);
            stroke: #faac32;
            stroke-miterlimit: 100;
            stroke-width: 2px;
          }
          
        @keyframes dash {
            to {
                stroke-dashoffset: 0;
            }
        }

        &__slider{
            display: flex;
            flex-wrap: nowrap;

            width: 300vw;
            overflow: hidden;
        }

        &__el{
            overflow: hidden;
            height: 100vh;
            width: 100%;

            // &:nth-last-child(n){
            //     border-right: 0px solid $complementary-color;
            // }

            border-right: 2px solid $complementary-color;
        }

        &__projet{
            flex-direction: row;

            margin-top: $space-h1;
        }

        &__wrapper{
            width: 82%; //! IMPORTANT
            // margin: 0 auto;
        }

        
        &__description{
            margin: $space-h1 $space-h2;
        }

        &__secondary-title{
            font-size: $h1-ultra-size;

            &--big{
                font-size: $h1-ultra-size;
            }

            &--great{
                font-size: $h1-giga-size;
            }
        }

        &__assets{
            a:has(> img){
                
                & img{
                    transition: .2s ease-in-out;
                }
                
                &:hover img{
                    transform: scale(1.02);
                }
            }
        }

        &__img{
            display: block;

            position: relative;
            z-index: 2;
        }

        &__svg{
            display: block;

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        &__path{
            animation: draw 45s reverse infinite;
            animation-timing-function: linear;
            stroke: $light-grey;
            stroke-width: 2px;
        }
          
        @keyframes draw {
            0% {

            }

            100% {
                stroke-dashoffset: 0;
                stroke-opacity: 1;
            }
        }

        &__indicator1{
            width: 170px;
            height: 42px; // 10px
            background: url(../assets/images/indicator1-bis.svg);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: absolute;
            bottom: 5%; right: 9%;
        }

        &__indicator2{
            width: 170px;
            height: 42px; // 10px
            background: url(../assets/images/indicator2-bis.svg);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: absolute;
            bottom: 5%; right: 9%;
        }

        &__indicator3{
            width: 170px;
            height: 42px; // 10px
            background: url(../assets/images/indicator3-bis.svg);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: absolute;
            bottom: 5%; right: 9%;
        }
    }

    .technologies{
        margin: calc($space-p/2) 0 0;
    }

    .credits{
        &__wrapper{
            max-width: 70%;
            margin: 0 auto;
        }
    }

    @media only screen and (max-height: 900px){
        .skills{
            &__grid-col-3{
                grid-row: 2;
                grid-column: 3/7;
            }
            
            &__title{
                grid-row: 1;
                grid-column: 3/7;
            }
        
            &__list{
                flex-wrap: nowrap;
                grid-row: 3;
                grid-column: 3/10;
            }
        }
        .projects{
            &__projet{
                margin: $space-h3 auto 0;
            }
    
            &__wrapper{
                width: 75%;
            }
    
            &__description{
                margin: $space-h1 $space-h3;
            }
        }
    }
}

@media only screen and (min-width: 1845px){
    .presentation{
        &__text{
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1921px){
    .projects{
        &__projet{
            margin-top: $space-giga-h1;
        }
    }
}



// .projects__slider{
//     display: flex;
//     flex-wrap: no-wrap;
//     width: 300%;
//     overflow-x: hidden;
// }